.photo-grid {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  gap: 12.5px 17.5px;
  list-style-type: none;
}
@media (max-width: 1279px) {
  .photo-grid {
    gap: 11.6px 16px;
  }
}
@media (max-width: 424px) {
  .photo-grid {
    gap: 0.77vh;
  }
}
