.places {
  width: 77%;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .places {
    width: auto;
    margin: 9.5vh 48px 0;
    /* margin: 0 48px; */
  }
}
@media (max-width: 1023px) {
  .places {
    margin: 9.2vh 24px 0;
  }
}
@media (max-width: 767px) {
  .places {
    margin: 24px;
  }
}
@media (max-width: 424px) {
  .places {
    margin: 6.5vh 0 0;
  }
}
@media (max-width: 319px) {
  .places {
    margin: 64px auto;
    width: 92vw;
  }
}
