.intro__list {
  margin: 0;
  width: auto;
  padding: 0;
  flex-direction: column;
  align-items: start;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff;
  list-style-type: none;
}
