.intro__list {
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff;
  list-style-type: none;
  /* box-shadow: 0 0 15px white; */
}
