.lead {
  margin: 56px 10vw 0;
  background: #2a2c2f;
  max-width: 1440px;
  min-width: 300px;
  /* width: 100%;  */
  display: flex;
  padding: 80px auto 0;
  text-align: center;
  flex-direction: column;
  /* border: 5px dotted whitesmoke; */
  /* box-shadow: 0 0 15px white; */
}

@media (max-width: 1023px) {
  .lead {
    margin: 48px 48px 0;
  }
}
@media (max-width: 767px) {
  .lead {
    width: 100%;
    margin: 48px 0 0;
  }
}
@media (max-width: 424px) {
  .lead {
    margin: 16px 0 0;
  }
}
@media (max-width: 319px) {
  .lead {
    margin: 16px 0 0;
  }
}
