.cover__subtitle {
  margin: 0;
  padding: 0.7vh 0 0 0;
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 126%;
  text-align: center;
  z-index: 1;
}
@media (max-width: 767px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 1.125em;
    line-height: 122%;
  }
}
@media (max-width: 620px) {
  .cover__subtitle {
    font-size: 0.875em;
    line-height: 1em;
  }
}
@media (max-width: 424px) {
  .cover__subtitle {
    padding: 1.5vh 0 0;
    margin: 0 1vw;
    font-size: 14px;
    line-height: 114%;
  }
}
