.cover__subtitle {
  /* position: absolute; */
  width: 360px;
  /* margin-top: -35vh; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #ffffff;
  z-index: 1;
  text-decoration: none;
  /* box-shadow: 0 0 7px white; */
}
@media (max-width: 1024px) {
  .cover__subtitle {
  }
}
@media (max-width: 768px) {
  .cover__subtitle {
  }
}
@media (max-width: 320px) {
  .cover__subtitle {
    width: 70vw;
    font-size: 14px;
    line-height: 16px;
  }
}
