.header__logo {
  width: 176px;
  height: 52px;
  left: 48px;
  top: 28px;
  background: url(../../../images/header-logo.svg);
  color: #ffffff;
  z-index: 1;
  /* border: 1px solid red; */
}
@media (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}
