.header__logo {
  width: 176px;
  height: 52px;
  /* margin-left: 18px; */
  /* top: 28px; */
  background: url(../../../images/header-logo.svg);
  color: #ffffff;
  z-index: 1;
}
@media (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}
