.header {
  margin: 27px 49px 0; /*Центрирование блока*/
  max-width: 1600px; /*Максимальная ширина при больших разрешениях*/
  min-width: 250px; /*Минимальная ширина при маленьких разрешениях*/
  width: auto; /*Ширина в зависимости от разрешения экрана*/
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .header {
    margin: 28px 48px 0;
  }
}
@media (max-width: 1023px) {
  .header {
    margin: 28px 24px 0;
  }
}
@media (max-width: 424px) {
  .header {
    margin: 16px 16px 0;
  }
}
