.footer__link {
  margin: 0 18px 0 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 18px;
}
@media (max-width: 1279px) {
  .footer__link {
    font-size: 1.55vw;
  }
}
@media (max-width: 425px) {
  .footer__link {
    width: 100%;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}
.footer__link:hover {
  cursor: pointer;
  opacity: 80%;
}
