.lead__title {
  margin: 0 auto; /*Центрирование блока*/
  width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  color: #ffffff;
}
@media (max-width: 1279px) {
  .lead__title {
    width: auto;
    margin: 0 6vw;
  }
}
@media (max-width: 1023px) {
  .lead__title {
    /* line-height: 10.5vh; */
  }
}
@media (max-width: 767px) {
  .lead__title {
    font-size: 11vw;
    margin: 0 10vw;
  }
}
@media (max-width: 424px) {
  .lead__title {
    width: 288px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 110%;
  }
}
