.lead__title {
  margin: 56px 3vw 0; /*Центрирование блока*/
  max-width: 1600px; /*Максимальная ширина при больших разрешениях*/
  min-width: 300px; /*Минимальная ширина при маленьких разрешениях*/
  width: auto; /*Ширина в зависимости от разрешения экрана*/
  margin: 0 auto;
  width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  color: #ffffff;
  box-shadow: 0 0 15px white;
}
@media (max-width: 768px) {
  .lead__title {
    width: auto;
    /* margin: 0 16px; */
    font-size: 12vw;
    line-height: 110%;
  }
}
@media (max-width: 425px) {
  .lead__title {
    /* width: 288px; */
    /* margin: 0 16px; */
    font-size: 40px;
    /* line-height: 110%; */
  }
}
@media (max-width: 320px) {
  .lead__title {
    /* width: 288px; */
    /* margin: 0 16px; */
    font-size: 40px;
    /* line-height: 110%; */
  }
}
