.place__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  width: auto;
  display: flex;
  margin: 0 auto 26px;
  /* box-shadow: 0 0 5px white; */
  /* border: 1px solid red; */
}
@media (max-width: 424px) {
  .place__paragraph {
    font-size: 16px;
  }
}
