.header__lang_link {
  /* position: absolute; */
  width: 30px;
  height: 28px;
  right: 95px;
  top: 46px;
  margin-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  text-decoration-line: underline;
  color: #ffffff;
  border: 1px solid red;
}
@media (max-width: 425px) {
  .header__lang_link {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
  }
}
