.intro__text {
  margin: 40px 0 33px;
  width: 690px;
  height: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 13.3px;
  line-height: 26px;
  /* or 26px */
  letter-spacing: 1.5px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .intro__text {
    width: 90vw;
    height: auto;
  }
}
