.intro {
  max-width: 984px;
  min-width: 769px;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 92px auto auto;
}
@media (max-width: 1279px) {
  .intro {
    max-width: 100%;
    min-width: auto;
    margin: 84px 48px 0;
  }
}
@media (max-width: 1023px) {
  .intro {
    max-width: 1024px;
    margin: 9.2vh 3vw 0;
  }
}
@media (max-width: 767px) {
  .intro {
    max-width: 768px;
    margin: 88px 24px 0;
  }
}
@media (max-width: 424px) {
  .intro {
    margin: 6.5vh 16px 0;
  }
}
