.cover__text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: auto; */
  /* z-index: 1; */
  box-shadow: 0 0 5px white;
}
/* @media (max-width: 1024px) {
  .cover__text2 {
    left: 20vw;
    top: 15vh;
  }
}
@media (max-width: 768px) {
  .cover__text2 {
    left: 11vw;
    top: 8vh;
  }
}
@media (max-width: 425px) {
  .cover__text2 {
    left: 11vw;
    top: 8vh;
  }
} */
