.cover__text {
  position: absolute;
  left: 23.5vw;
  top: 22vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  align-items: center;
  /* border: 1px solid red; */
}
@media (max-width: 1024px) {
  .cover__text {
    left: 20vw;
    top: 15vh;
  }
}
@media (max-width: 768px) {
  .cover__text {
    left: 11vw;
    top: 8vh;
  }
}
@media (max-width: 425px) {
  .cover__text {
    left: 11vw;
    top: 8vh;
  }
}
@media (max-width: 320px) {
  .cover__text {
    left: 5vw;
    top: 2vh;
  }
}
