.cover__text {
  /* width: 100%; */
  /* position: absolute; */
  /* margin-top: -51.5vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
@media (max-width: 1279px) {
  .cover__text {
    /* margin-top: -450px; */
  }
}
@media (max-width: 1023px) {
  .cover__text {
    /* margin-top: -375px; */
  }
}
@media (max-width: 767px) {
  .cover__text {
    /* margin-top: -67%; */
  }
}
@media (max-width: 424px) {
  .cover__text {
    /* margin-top: -17.25vh; */
  }
}
