.cover {
  position: relative;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  margin-top: 92px;
}
.cover::after {
  /* background-image: url("../../../images/cover-trains.jpg"); */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  /* border: 1px solid green; */
  /* width: 100%; */
  /* height: 100%; */
  background-color: rgba(42, 44, 47, 0.3);
  z-index: -1;
}
.cover:hover::after {
  background-color: rgba(42, 44, 47, 0.8);
  /* border: 5px dotted white; */
}
@media (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin-top: 6.9vh;
  }
}

@media (max-width: 767px) {
  .cover {
    max-width: 100%;
    min-height: calc(100vw / 1.6);
    margin: 0;
    background-size: cover;
  }
}

@media (max-width: 424px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
    margin-top: 39.5px;
  }
}
