.place {
  margin: 92px 0 0;
  width: auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
  /* grid-template-rows: 1fr 460px; */
  gap: 48px 40px;
  /* box-shadow: 0 0 5px white; */
  /* border: 1px solid red; */
}
@media (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    gap: 48px 32px;
    /* background-color: aquamarine; */
  }
}
@media (max-width: 768px) {
  .place {
    grid-template-columns: minmax(300px, 1fr) minmax(330px, 1fr);
    gap: 48px 28px;
    /* background-color: indianred; */
  }
}
/* Для эксперимента */
@media (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    gap: 42px 28px;
    /* background-color: indianred; */
  }
}
@media (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    /* background-color: olivedrab; */
  }
}
