.cover__background {
  width: 1184px;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  opacity: 0.7;
  border: 1px solid red;
}
.cover__background:hover {
  opacity: 0.2;
  cursor: pointer;
}
