.cover__background {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 44, 47);
  background-size: contain;
  text-decoration: none;
  z-index: 1;
  opacity: 0.9;
  /* border: 1px solid red; */
}
.cover__background:hover {
  opacity: 0.3;
}
