.lead__caption {
  margin: 8px auto 0 16px;
  /* margin-left: 0;
  margin-top: 8px; */
  width: 158px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0 0 15px white;
}
