.cover__title {
  width: 560px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  /* or 106% */
  text-align: center;
  z-index: 1;
  /* box-shadow: 0 0 7px white; */
}
/* Чтобы придать резиновость, переведу пиксели (фиксированные значения) в относительные единицы. И сделаю всё внутренними отступами */
@media (max-width: 1279px) {
  .cover__title {
    width: 80vw;
    font-size: 32px;
    line-height: 35px;
    /* margin: -15vh 10vw 0; */
  }
}
@media (max-width: 1023px) {
  .cover__title {
    width: 80vw;
    font-size: 32px;
    line-height: 35px;
    /* margin: -15vh 10vw 0; */
  }
}
@media (max-width: 767px) {
  .cover__title {
    width: 80vw;
    font-size: 32px;
    line-height: 35px;
    /* margin: -15vh 10vw 0; */
  }
}
@media (max-width: 424px) {
  .cover__title {
    width: 80vw;
    font-size: 32px;
    line-height: 35px;
    /* margin: -15vh 10vw 0; */
  }
}
