.cover__title {
  /* position: absolute; */
  width: 560px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  z-index: 1;
  box-shadow: 0 0 7px white;
}
@media (max-width: 1024px) {
  .cover__title {
    /* margin-left: 22vw;
    margin-top: -41vh; */
    /* background-color: aquamarine; */
  }
}
@media (max-width: 768px) {
  .cover__title {
    /* margin-left: 12.5vw;
    margin-top: -33.5vh; */
    /* background-color: indianred; */
  }
}
@media (max-width: 320px) {
  .cover__title {
    /* width: auto;
    font-size: 32px;
    line-height: 35px; */
    /* margin: -15vh 10vw 0; */
    /* margin-top: -15vh; */
    /* background-color: olivedrab; */
  }
}
