.place {
  margin: 0;
  padding-top: 77.5px;
  width: auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
  gap: 48px 40px;
}
/* Ступенчато-резиновая вёрстка, как мне кажется... */
@media (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
    gap: 48px 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 6.5vh;
  }
}
@media (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    gap: 48px 28px;
  }
}
@media (max-width: 767px) {
  .place {
    grid-template-columns: minmax(288px, 1fr) minmax(303px, 1fr);
  }
}
/* Не могу победить горизонтальный скролл, придётся добавить пару лишних медиазапросов. */
@media (max-width: 665px) {
  .place {
    grid-template-columns: minmax(250px, 1fr) minmax(263px, 1fr);
  }
}
/* Для эксперимента */
@media (max-width: 600px) {
  .place {
    grid-template-columns: minmax(320px, 1fr);
    gap: 32px;
  }
}
@media (max-width: 424px) {
  .place {
    grid-template-columns: minmax(288px, 1fr);
  }
}
