.header__lang-ru {
  width: 30px;
  height: 28px;
  right: 95px;
  top: 46px;
  margin-right: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: underline;
  color: #ffffff;
  /* border: 1px solid red; */
}
@media (max-width: 424px) {
  .header__lang-ru {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
  }
}
