.intro__title {
  margin: 0;
  width: auto;
  font-style: normal;
  /* font-weight: 900; */
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
  color: #ffffff;
  box-shadow: 0 0 15px white;
}
@media (max-width: 768px) {
  .intro__title {
    width: 90vw;
    font-size: 7vw;
    line-height: 110%;
  }
}
@media (max-width: 320px) {
  .intro__title {
    /* width: 288px; */
    /* margin: 0 16px; */
    /* font-size: 40px; */
    /* line-height: 110%; */
    background-color: orange;
  }
}
