.place__paragraph {
  width: auto;
  display: flex;
  margin: 0 auto 26px;
  font-size: 18px;
  line-height: 29px;
  /* box-shadow: 0 0 5px white; */
  /* border: 1px solid red; */
}
/* Для эксперимента */
@media (max-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    background-color: indianred;
  }
}
@media (max-width: 320px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    background-color: olivedrab;
  }
}
